@page "/TestLogin"
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Test Login</title>
</head>
<body>
    <h1>Test Login Page</h1>
    <p>This is a simple test page to verify routing works.</p>
    <a href="/Identity/Account/Login">Go to Login</a>
</body>
</html>